button{
    border-radius: 5px solid black;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
