body {
    background: pink;
    text-align:center
}

.showtime {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    color: black;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
